main.Main#Main
  .Main-container
    include ../elements/slider
    section.Inicio-proyectos
      .Inicio-proyectos-item
        h2 Comunicacional
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, reiciendis rem animi, facere illo error, possimus nobis aliquam ea sit id? Dolorum veritatis nihil quidem. Eveniet voluptas obcaecati cupiditate dolore.
      .Inicio-proyectos-item
        h2 Colaborativo
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, reiciendis rem animi, facere illo error, possimus nobis aliquam ea sit id? Dolorum veritatis nihil quidem. Eveniet voluptas obcaecati cupiditate dolore.
      .Inicio-proyectos-item
        h2 Territorial
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, reiciendis rem animi, facere illo error, possimus nobis aliquam ea sit id? Dolorum veritatis nihil quidem. Eveniet voluptas obcaecati cupiditate dolore.
