#Gallery
  .Masonry-layout-item
    img(src="img/arqueria.jpg")
  .Masonry-layout-item
    img(src="img/chozon.jpg")
  .Masonry-layout-item
    img(src="img/chozon1.jpg")
  .Masonry-layout-item
    img(src="img/chozon2.jpg")
  .Masonry-layout-item
    img(src="img/chozon3.jpg")
  .Masonry-layout-item
    img(src="img/chozon4.jpg")
  .Masonry-layout-item
    img(src="img/chozon5.jpg")
  .Masonry-layout-item
    img(src="img/comida.jpg")
  .Masonry-layout-item
    img(src="img/comida1.jpg")
  .Masonry-layout-item
    img(src="img/comida2.jpg")
  .Masonry-layout-item
    img(src="img/construccion.jpg")
  .Masonry-layout-item
    img(src="img/construccion1.jpg")
  .Masonry-layout-item
    img(src="img/construccion2.jpg")
  .Masonry-layout-item
    img(src="img/construccion3.jpg")
  .Masonry-layout-item
    img(src="img/construccion4.jpg")
