extends ../template/modelo
append config
  -titulo = "Gran Tejido | Medios";
  - descripcion = "Somos blabla bla";

block header
 include ../bloques/header
block main
 include ../secciones/main-medios
block footer
 include ../bloques/footer
block script
  script(src="js/medios.js")
