extends ../template/modelo
append config
  -titulo = "Gran Tejido | Redes";
  - descripcion = "Ofrecemos blabla bla";

block header
 include ../bloques/header
block main
 include ../secciones/main-redes
block footer
 include ../bloques/footer
