//- Variables
-let titulo = "Gran Tejido";
-let descripcion = "Somos un proyecto bla bla bla";

//- sintaxis
//- - var saludo = "Hola mundo!"
//- asignación
//- p = saludo
//- //interpolación
//- p Soy un #{saludo}
